autopep8==1.5.7
colorama==0.4.4
comtypes==1.1.10
d3dshot==0.1.5
keyboard==0.13.5
numpy==1.19.5
Pillow==7.1.2
pycodestyle==2.7.0
pyfiglet==0.8.post1
pynput==1.7.3
pywin32==301
six==1.16.0
termcolor==1.1.0
toml==0.10.2
